body{
    background-color: aqua; text-align: justify; font-size: 40px;
}
h1{
    color: #dc143c; text-align: center; font-size: 35px;
}
h2{
    color: #b22222; text-align: center; 
}
p{
    color: #8108D4; text-align: center; font-size: 30px;
}
