body{
    background-color: aqua; text-align: justify; font-size: 40px;
}
header{
    background-color: black;
}
nav li{
    display: inline
    
}
nav a{
    color: #8108D4
    text-transform: uppercase;
}

h1{
    color: #dc143c; text-align: center; font-size: 35px;
}
h2{
    color: #b22222; text-align: center; 
    border: dotted 5px yellowgreen;
    padding: 10px;
    margin: 20px
}
p{
    color: #8108D4; text-align: center; font-size: 30px;
}
#imagem1 {
    border: solid #8108D4;
    width: 150px; 
    margin-left: 45%;
}
h3{
    color: #dc143c; text-align: center; font-size: 50px;
    background-color:#8108D4 ;
}
.itens{
    background-color: cadetblue;
}
div {
        all: marker
    content: ❤️😍
    }

    
}
ul{
    display: inline-table;
}